<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <!--/* bootstrap 연결 */-->
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
    <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
</head>

<div layout:fragment="main">
    <h3>My Personal Project!!</h3>
    <a th:href="@{/review/register}">게임 리뷰 등록하기</a>

    <!--/* 여기에 인기 게임 20개 보여주는 a 태그 하나 만들고 */-->
    <!--/* 클릭하면 들어가서 리뷰 남기도록 해야지 */-->


</div>